<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AskQuestion</title>
</head>

<body>
    <form action="/display_question.html" method = "GET">
        <label for="title">Your ask title</title></label><br>
        <input type="text" id="title" name="title" value=""><br>
        <label for="message">Describe your problem</label><br>
        <input type="text" id="message" name="message" value=""><br><br>
        <input type="submit" value="Submit">
</form>
    </form>
</body>
</html>