{% extends "base.html" %}
{% block content %}
    <div class="description">
        <div class="detail">
            <h3>{{data.title}}</h3>
    
    
            {{data.message}}
    
    
    
    
            <div class="question__container--vote-box">
                <span class="">view: {{data.view_number}}</span><br>
                <a href="/question/{{data.id}}/vote-down"> <button class="btn__question">&lt;</button></a>
                <span class="">votes: {{data.vote_number}}</span>
                <a href="/question/{{data.id}}/vote-up"> <button class="btn__question">&gt;</button></a><br>
            </div>
    
            <a href="/question/{{data.id}}/edit"> <button class="btn__question">edit question ID:
                    {{data.id}}</button></a>
            <a href="/question/{{data.id}}/new-answer"> <button class="btn__question">Add answer ID:
                    {{data.id}}</button></a>
            <a href="/question/{{data.id}}/delete"> <button class="btn__question">delete question
                </button></a>
            <a href="/question/{{data.id}}/new-comment"> <button class="btn__question">Add comment
                </button></a>
            <a href="/question/{{data.id}}/tag"> <button class="btn__question">Add tag
                </button></a><br>
    
            {% for comment in comments %}
            {% if comment.message != None %}
            <p>{{comment.message}}</p>
            <a href="/comment/{{comment.id}}/delete"> <button class="btn__question">delete comment
                </button></a>
            <a href="/comment/{{comment.id}}/edit"> <button class="btn__question">edit comment
                </button></a>
    
    
            {% endif %}
            {% endfor %}
    
    
            <div class="answers__container">
                {% for item in answers %}
                <div class="answer_sign">
                    <div class="answer_text"> ANSWER</div>
                {% if item.accepted == True %}
                    - accepted
                {% endif %}
                </div>

                <div class="answers__container-answer">
                    <div class="">
                        {{item.message}}

                    </div>

                        {% if item.image %}
                        {{item.image}}
                        {% endif %}

                    <div class="">
                        {% if data.user_id == session.id %}
                        <a href="/marked/{{item.id}}" ><button> F </button></a>
                        {% endif %}
                        <a href="/answer/{{item.id}}/vote-down"> <button class="btn__question">&lt;</button></a>
                        votes: {{item.vote_number}}
                        <a href="/answer/{{item.id}}/vote-up"> <button class="btn__question">&gt;</button></a><br>
                    </div>

                    <a href="/answer/{{item.id}}/edit"> <button class="button_question">edit answer
                        </button></a>
                    <a href="/answer/{{item.id}}/delete"> <button class="button_question">delete answer
                        </button></a>
                    <a href="/answer/{{item.id}}/new-comment"> <button class="button_question">add comment
                        </button></a>
    
                    {% for com in comments_answer %}
                    {% for a in com %}
                    {% if a.answer_id == item.id %}
    
                    <p>{{a.message}}</p>
                    <a href="/comment/{{a.id}}/delete"> <button class="btn__question">delete comment
                        </button></a>
                    <a href="/comment/{{a.id}}/edit"> <button class="btn__question">edit comment
                        </button></a>
    
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
    
                </div>
                {% endfor %}
            </div>
{% endblock %}