<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate</title>
</head>
<body>
    <div>
        <h1>Edit question ID: {{ data.id }}, count: {{ count.count }}</h1>
        <form action="/question/{{ data.id }}/edit" method="POST">
            <label for="title">Tittle:</label>
            <textarea name="title" rows="1" cols="85" placeholder="{{ data.title }}"></textarea><br>
            <label for="message">Question:</label>
            <textarea name="message" rows="4" cols="85">{{ data.message }}</textarea><br>
            <input type="submit" value="submit" />
        </form>
    </div>
    <a href="/"> <button class="btn_main_page">Main page</button></a>
</body>
</html>