<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate</title>
</head>
<body>
    <form action="/question/<string:id>/edit" method="POST">
        <label for="title">Tittle:</label>
        <input type="text"  name="title" size="15" placeholder="{{ data["title"] }}" />
        <label for="message">Question</label>
        Message: <input type="text" name="message" size="15" value="{{ data["message"] }}" />
        <input type="submit" value="Save changes" />
    </form>
</body>
</html>