<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

    <title>AskMate</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <img src="" alt="machette-logo" class="logo">
            
            <form action="/search" method="POST" class="search" >
                <input type="text" class="search__input" name="title" placeholder="Search Question">
                <button class="search__button"><input type="submit" value="" /></button>
            </form>


            <nav class="user-nav">
                <div class="user-nav__icon-box">
                    <span>Sign in</span>
                </div>
                <div class="user-nav__icon-box">
                    <span>Sign up</span>
                </div>
            </nav>
        </header>

        <div class="content">

            <div class="content">
                <nav class="sidebar">
                    <ul class="side-nav">
                        <li class="side-nav__item side-nav__item--active">
                            <a href="/" class="side-nav__link">
                                <svg class="side-nav__icon">
                                    <use xlink:href="img/sprite.svg#icon-home"></use>
                                </svg>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="side-nav__item">
                            <a href="/list" class="side-nav__link">
                                <svg class="side-nav__icon">
                                    <use xlink:href="img/sprite.svg#icon-aircraft-take-off"></use>
                                </svg>
                                <span>Questions</span>
                            </a>
                        </li>
                        
                    </ul>
            
                    <div class="legal">
                        &copy; 2022 AskMate
                    </div>
                </nav>





        </div>

    
        
        
  




    <div id="questions">
        {% for question in questions %}
        <div class="question-sumamary">
            <div class="post-summary--stats-item">
                <span class="post-summary--stats-item-number">{{question.vote_number}}</span>
                <span class="post-summary--stats-item-unit">votes</span>
            </div>
            <div class="post-summary--stats-item">
                <span class="post-summary--stats-item-number">{{question.view_number}}</span>
                <span class="post-summary--stats-item-unit">views</span>
            </div>
            <div class="post-summary--content-item">
                <h3 class="post-summary--content-title">{{question.title}}</h3>
                <div class="post-summary--content-description">{{question.message}}</div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
</body>

</html>