{% extends "base.html" %}
{% block content %}
<h1>Results of searching for "{{ search_phrase }}"</h1>

{% if questions %}
<h2 class="adam-glupol">In questions:</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>View number</th>
        <th>Vote number</th>
        <th>Title</th>
        <th>Message</th>

        <th>View</th>
    </tr>
    
    {% for question in questions %}
        <tr>
            <td>{{ question.id }}</td>
            <td>{{ question.view_number }}</td>
            <td>{{ question.vote_number }}</td>
            <td>{{ question.title }}</td>
            <td>{{ question.message }}</td>
            <td><a href="">See question</a></td>
        </tr>
    {% endfor %}
    {% else %}
    <div class="ss">
        <h1>Not found!</h1>
    </div>
    {% endif %}
</table>
{% endblock %}